/* Variables contenant les différentes couleurs utilisables selon le cahier des charges */
:root {
  --main-color: #e8e8e8;
  --second-color: #FFFFFF;
  --third-color: #D3D3D3;
  --fourth-color: #000000;
  --text-color: #696969;
}
/* Propriétés appliquées à tous les éléments du site */
html,body{padding:0;margin:0;font-family:poppins,arial,helvetica neue,sans-serif}

/* Suppression des marges extérieurs & intérieurs */
ul,li,img,h3,h2,input,a{padding:0;margin:0;}
li{list-style-type:none;display:inline-block;padding:5px 0;}
a{text-decoration:none;}

body{background:var(--main-color);color:var(--text-color);}

/* Tableaux */
table{margin:0 auto;}
table th{padding:5px;}

/* Etiquettes des champs des formulaires */
label{color:var(--text-color);}

/* Champs des différents formulaires */
input:focus,select:focus{outline:none;}
input,select{color:var(--text-color);padding:8px 5px;border:none;background:var(--main-color);border-radius:5px;margin:8px 0;box-shadow:0px 1px 1px var(--third-color) inset;border:1px solid var(--third-color);}
input[type="submit"]{box-shadow:none;background:#4372D9;color:var(--second-color);border:none;padding:12px 24px;font-size:16px;}

/* contenu principal */
main{width:80%;height:100vh;box-sizing:border-box;display:flex;justify-content:center;align-items:center;margin:0 auto;}
main a:visited{color:var(--text-color);}

/* Barre de navigation */
nav,section{text-align:center;width:100%;height:auto;background:var(--second-color);padding:2% 10px;border-radius:5px;}
nav table tr:not(:last-child) th,section table tr:not(:last-child) th{border-bottom:1px solid var(--text-color);}
nav a,section a{color:var(--text-color);}

/* Message d'information */
.message{color:red;margin:0;}

@media screen and (max-width: 900px){
	main{width:100%;}
	table{width:100%;}
	nav{padding:0 2%;}

}

